.content {
  padding-top: 0;
  max-width: 600px;
  margin: auto;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Pattaya', sans-serif;
}

h2 {
  font-weight: bold;
  color: #262626;
  font-size: 40px;
  letter-spacing: 2px;
  text-align:center;
  margin-top:2%;
}

.flavortext {
  text-align: center;
  width: 100%;
  font-style: italic;
  color: #6E6E6E;
  font-size: 80%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
/* Styles */
  .bodytext {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .flavortext {
    font-size: 65%;

   }
}



.bodytext {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Style the links inside the navigation bar */
.topnav {
    /*border:1px solid #ccc;*/
    padding-top: 20px;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.topnav li {
  display:inline;
}

.topnav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: black;
    font-family: 'Pattaya', sans-serif;
}

sup { 
  vertical-align: super;
  font-size: smaller;
}

/*/*/
/* Change the color of links on hover */
.topnav a:hover {
  color: grey;
}

sup { 
  vertical-align: super;
  font-size: smaller;
}

/*.topnav a.active {
  color: grey;
}*/